@charset "UTF-8";
.footer-link, .form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.works-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.features-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .features-container {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.works-title {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
}

.works-text {
  margin-bottom: 20px;
  margin-left: 24px;
}

.container-size {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .container-size {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list-flex {
  display: flex;
}

.section {
  display: none;
}

@media (min-width: 1200px) {
  .section {
    display: block;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.link,
.link-footer {
  text-decoration: none;
}

.item > .link {
  position: relative;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav .current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #2196f3;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link {
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover::after,
.site-nav .link:focus::after,
.site-nav .current::after {
  opacity: 1;
}

.site-nav > .address:not(:last-child) {
  margin-right: 30px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .address {
  color: #757575;
  font-style: normal;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .link.address {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header-list {
    padding-top: 21px;
    padding-bottom: 11px;
  }
}

.logo {
  color: #212121;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  color: #2196f3;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: #ffffff;
}

nav > .link.logo {
  display: inline-block;
  margin-right: 93px;
}

footer .link.logo {
  display: inline-block;
  margin-bottom: 20px;
}

footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #2f303a;
}

@media (min-width: 768px) and (max-width: 1199px) {
  footer {
    width: 768px;
  }
}

@media (max-width: 767px) {
  footer {
    width: 480px;
    text-align: center;
  }
}

.footer-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-link {
  width: 44px;
  height: 44px;
  fill: #ffffff;
  border-radius: 50%;
  background-color: #5b5c61;
}

.footer-link:hover, .footer-link:focus {
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list {
  display: flex;
}

@media (max-width: 767px) {
  .footer-list {
    justify-content: center;
  }
}

.footer-contact {
  margin-bottom: 60px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-contact {
    margin-left: 61px;
    display: inline-block;
    text-align: center;
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .footer-contact {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}

.link-footer {
  color: rgba(255, 255, 255, 0.6);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    position: relative;
  }
}

@media (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

.link-footer {
  display: block;
  margin-bottom: 9px;
  margin-top: 9px;
}

.link-footer:last-child {
  margin: 0;
}

.section-list > .section-image {
  position: relative;
}

.section-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 82px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-icon {
    position: absolute;
    top: 60px;
    right: 74px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer-icon {
    margin-bottom: 60px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal > button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 7px;
  top: 7px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal > button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.hero-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/hero.png);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/hero@2x.png);
  }
}

@media (max-width: 767px) {
  .hero-container {
    width: 480px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero-container {
    width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/hero.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/hero@2x.png);
  }
}

@media (min-width: 1200px) {
  .hero-container {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero@2x.png);
  }
}

.hero-container > h1 {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .hero-container > h1 {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-title {
  margin-bottom: 30px;
}

.btn {
  display: block;
  margin: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  color: #ffffff;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  outline: 0;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: #ffffff;
  color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form > .btn {
  display: inline-flex;
  padding-left: 28px;
  padding-right: 28px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  border-radius: 4px;
  border: none;
  outline: 0;
}

.button:hover, .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item > .button {
  padding: 6px 22px;
}

.button-works {
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .button-works {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .button-works {
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .button-works {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .button-works {
    margin-bottom: 50px;
  }
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

@media (max-width: 767px) {
  .button-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #212121;
}

@media (max-width: 767px) {
  .features-title {
    text-align: center;
  }
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.features-item {
  width: 100%;
}

@media (min-width: 480px) {
  .features-item {
    width: 450px;
  }
}

@media (max-width: 767px) {
  .features-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .features-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .features-item {
    width: 354px;
  }
}

@media (min-width: 1200px) {
  .features-item {
    width: 270px;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .features-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .features-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

.features-item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.features-item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.features-item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.features-item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.features-item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.section-team {
  background: #f5f4fa;
}

.section-title {
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.name-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.position-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.social-container {
  display: flex;
  justify-content: center;
}

.team-container .section-list {
  padding-bottom: 24px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (min-width: 1200px) {
  .team-container .section-list {
    padding-bottom: 30px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 55;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.form-field {
  display: block;
  position: relative;
  margin-bottom: 25px;
}

.form-label {
  position: absolute;
  top: -16px;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

/*    autocomplete- обнуление стилей от браузера*/
.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover,
.form-input:-webkit-autofill:focus {
  -webkit-text-fill-color: #757575;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

.form-input {
  padding-left: 42px;
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .form-input {
    width: 448px;
  }
}

.form-input:focus + svg {
  fill: #2196f3;
}

.form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.form-input + svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  width: 370px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .form-textarea {
    width: 448px;
  }
}

.form-textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  margin-bottom: 30px;
}

.checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

@media (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-link {
  color: #2196f3;
  text-decoration-line: underline;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #000000;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox-input:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

@media (min-width: 480px) {
  .modal-form {
    padding: 40px;
  }
}

.form-description {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

@media (min-width: 1200px) {
  .form-description {
    line-height: 1.15;
  }
}

.email-input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  margin-right: 12px;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .email-input {
    width: 358px;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .email-input {
    display: block;
    margin-left: 151px;
  }
}

.email-input:-webkit-autofill,
.email-input:-webkit-autofill:hover,
.email-input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 0 0px 1000px #2f303a inset;
}

.footer-form {
  margin-left: auto;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    text-align: center;
  }
}

.envelope-icon {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
}

.address:hover .envelope-icon,
.address:focus .envelope-icon {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
}

.address:hover .smartphone-icon,
.address:focus .smartphone-icon {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon svg,
.footer-item svg {
  width: 20px;
  height: 20px;
  display: flex;
}

.client-icon {
  fill: #afb1b8;
}

.icon-send {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover > .icon-send,
.btn:focus > .icon-send {
  fill: #2196f3;
}

.person-black,
.phone-black,
.email-black {
  width: 18px;
  height: 18px;
  fill: #212121;
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover > .icon-close,
button:focus > .icon-close {
  fill: #2196f3;
}

.social-link {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover svg,
.social-link:focus svg {
  fill: #ffffff;
}

.social-icon:not(:last-child),
.footer-item:not(:last-child) {
  margin-right: 10px;
}

.menu-open {
  width: 40px;
  height: 40px;
}

.mobile-menu-btn {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu-btn {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
  }
}

.mobile-menu-btn .icon-close {
  display: none;
}

.mobile-menu-btn.is-open .icon-close {
  display: block;
}

.mobile-menu-btn.is-open .icon-open {
  display: none;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .header-nav {
    justify-content: center;
    flex-grow: 0;
  }
}

.header-container {
  align-items: center;
}

@media (min-width: 768px) {
  .header-container {
    display: flex;
    justify-content: center;
  }
}

header {
  border-bottom: 1px solid #ececec;
}

@media (min-width: 1200px) {
  .header-list {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .header-item:not(:last-child) {
    margin-right: 30px;
  }
}

.header-item > .address {
  display: flex;
  align-items: center;
}

.mobile-menu {
  position: absolute;
  left: 0;
  right: 0;
  padding-bottom: 60px;
  padding-top: 60px;
  width: 480px;
  text-align: center;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-site-nav .link {
  display: block;
  color: #212121;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.mobile-header-item .address {
  color: #757575;
  font-style: normal;
}

.mobile-site-nav .link:hover,
.mobile-site-nav .link:focus,
.mobile-site-nav .link.current,
.mobile-header-item .address:hover,
.mobile-header-item .address:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
}

.mobile-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-site-nav {
  margin-bottom: 60px;
}

.mobile-header-item:not(:last-child) {
  margin-bottom: 16px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 3%;
}

@media (min-width: 480px) {
  .client-link {
    width: 210px;
  }
}

@media (min-width: 768px) {
  .client-link {
    width: 226px;
  }
}

@media (min-width: 1200px) {
  .client-link {
    width: 170px;
  }
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  border-color: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 767px) {
  .client-list {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .client-list {
    flex-wrap: wrap;
  }
}

@media (min-width: 480px) {
  .client-list {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .client-item {
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .client-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .client-item:not(:nth-child(3n + 3)) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .client-item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .client-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .client-item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

.section-list > .section-image:not(:last-child) {
  margin-right: 30px;
}

@media (min-width: 768px) {
  .team-container {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .team-container {
    flex-wrap: wrap;
  }
}

.team-image {
  width: 100%;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .section-list:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .section-list:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

.overlay-block {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.grid-item > .link:hover .product-overlay,
.grid-item > .link:focus .product-overlay {
  transform: translateY(0%);
  opacity: 1;
}

.overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .grid-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.grid-item {
  border: 1px solid #ececec;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .grid-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media (min-width: 1200px) {
  .grid-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .grid-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .grid-item:not(:nth-last-child(-n + 1)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .grid-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .grid-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .grid-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.grid-item > .link {
  display: inline-block;
}

.grid-item:hover,
.grid-item > .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */