.btn {
  display: block;
  margin: auto;
  @include fonts(700, 16px, 1.87, 0.06em);
  // font-weight: 700;
  // font-size: 16px;
  // line-height: 1.87;
  align-items: center;
  // letter-spacing: 0.06em;
  color: $white-color;
  background-color: $accent-color;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  outline: 0;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $white-color;
    color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form > & {
    display: inline-flex;
    padding-left: 28px;
    padding-right: 28px;
  }
}

.button {
  @include fonts(500, 16px, 1.62, 0.03em);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.62;
  text-align: center;
  // letter-spacing: 0.03em;
  color: $title-text-color;
  border-radius: 4px;
  border: none;
  outline: 0;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button-item > & {
    padding: 6px 22px;
  }
}

.button-works {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}
