.envelope-icon {
  width: 16px;
  height: 12px;
  fill: $primary-text-color;
  margin-right: 10px;

  .address:hover &,
  .address:focus & {
    fill: $accent-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  fill: $primary-text-color;
  margin-right: 10px;

  .address:hover &,
  .address:focus & {
    fill: $accent-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.social-icon svg,
.footer-item svg {
  width: 20px;
  height: 20px;
  display: flex;
}

.client-icon {
  fill: $social-icon-color;
}

.icon-send {
  width: 24px;
  height: 24px;
  fill: $white-color;
  margin-left: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .btn:hover > &,
  .btn:focus > & {
    fill: $accent-color;
  }
}

.person-black,
.phone-black,
.email-black {
  width: 18px;
  height: 18px;
  fill: $title-text-color;
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: $logo-header-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  button:hover > &,
  button:focus > & {
    fill: $accent-color;
  }
}

.social-link {
  width: 44px;
  height: 44px;
  fill: $social-icon-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    background-color: $accent-color;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover svg,
  &:focus svg {
    fill: $white-color;
  }
}

.social-icon:not(:last-child),
.footer-item:not(:last-child) {
  margin-right: 10px;
}

.menu-open {
  width: 40px;
  height: 40px;
}

.mobile-menu-btn {
  display: none;

  @media screen and(max-width:767px) {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
  }
}

.mobile-menu-btn .icon-close {
  display: none;
}

.mobile-menu-btn.is-open .icon-close {
  display: block;
}

.mobile-menu-btn.is-open .icon-open {
  display: none;
}
