*,
::after,
::before {
  // box-sizing: inherit;
  outline: 2px solid red;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.works-title {
  @include fonts(700, 18px, 2, 0.06em);
  // font-weight: 700;
  // font-size: 18px;
  // line-height: 2;
  // letter-spacing: 0.06em;
  color: $title-text-color;
}

.works-text {
  @include fonts(400, 16px, 1.87, 0.03em);
  // font-weight: 400;
  // font-size: 16px;
  // line-height: 1.87;
  // letter-spacing: 0.03em;
  color: $primary-text-color;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
  }
}

.features-container {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.works-title {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
}

.works-text {
  margin-bottom: 20px;
  margin-left: 24px;
}

.container-size {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
}

.list-flex {
  display: flex;
}
