$title-text-color: #212121;
$accent-color: #2196f3;
$primary-text-color: #757575;
$white-color: #ffffff;
$logo-header-color: #000000;
$hero-footer-color: #2f303a;
$footer-color: rgba(255, 255, 255, 0.6);
$section-team-color: #f5f4fa;
$header-border-color: #ececec;
$hero-background-color: #c4c4c4;
$social-icon-color: #afb1b8;
$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
