footer {
  background: $hero-footer-color;
}

.footer-text {
  margin-bottom: 20px;
  @include fonts(700, 14px, 1.14, 0.03em);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
}

.footer-link {
  @extend %FlexGrid;
  width: 44px;
  height: 44px;
  fill: $white-color;
  border-radius: 50%;
  background-color: #5b5c61;

  &:hover,
  &:focus {
    background-color: $accent-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-list {
  display: flex;
}

.footer-contact {
  margin-right: 70px;
}

.footer {
  @include fonts(400, 14px, 1.71, 0.03em);
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
  color: $white-color;
  font-style: normal;
}

.link-footer {
  color: $footer-color;
}

.footer-container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.link-footer {
  display: block;
  margin-bottom: 9px;
  margin-top: 9px;

  &:last-child {
    margin: 0;
  }
}

.section-list > .section-image {
  position: relative;
}

.section-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 82px;
  @include fonts(700, 14px, 1.14, 0.03em);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  // text-align: center;
  // letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}
