.header-nav {
  @extend %FlexGrid;
}

.header-container {
  @extend %FlexGrid;
}

header {
  border-bottom: 1px solid $header-border-color;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 30px;
}

.header-item > .address {
  display: flex;
  align-items: center;
}
