.link,
.link-footer {
  text-decoration: none;
}

.item > .link {
  position: relative;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-left: auto;

  @media screen and(max-width:767px) {
    display: none;
  }

  & .current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $accent-color;
    height: 4px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .link {
    display: block;
    padding-top: 28px;
    padding-bottom: 28px;
    color: $title-text-color;
    @include fonts(500, 14px, 1.14, 0.02em);
    // font-weight: 500;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.02em;
  }

  & .link:hover,
  & .link:focus,
  & .link.current {
    color: $accent-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .link:hover::after,
  & .link:focus::after,
  & .current::after {
    opacity: 1;
  }

  & > .address:not(:last-child) {
    margin-right: 30px;
  }

  & .item:not(:last-child) {
    margin-right: 50px;
  }

  & .address {
    color: $primary-text-color;
    font-style: normal;
  }
}
