.section-team {
  background: $section-team-color;
}

.section-title {
  margin-bottom: 30px;

  @include for-size(desktop) {
    margin-bottom: 50px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;

  @include for-size(desktop) {
    font-size: 36px;
    line-height: 1.17;
  }
}

.name-title {
  margin-bottom: 10px;
  text-align: center;
  @include fonts(500, 16px, 1.19, 0.03em);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.19;
  // letter-spacing: 0.03em;
  color: $title-text-color;
}

.position-title {
  @include fonts(400, 16px, 1.19, 0.03em);
  // font-weight: 400;
  // font-size: 16px;
  // line-height: 1.19;
  // letter-spacing: 0.03em;
  color: $primary-text-color;
  text-align: center;
}

.social-container {
  display: flex;
  justify-content: center;
}

.team-container .section-list {
  padding-bottom: 24px;
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include for-size(desktop) {
    padding-bottom: 30px;
  }
}

.team-container .section-list:not(:last-child) {
  @include for-size(mobile-only) {
    margin-bottom: 30px;
  }
}

.team-container .section-list:nth-child(-n + 2) {
  @include for-size(tablet-only) {
    margin-bottom: 30px;
  }
}
